body {
  font-family: 'Montserrat';
  height: 100%;
}

.button_search {
  background-image: url("https://www.nicepng.com/png/detail/104-1044901_magnifying-glass-magnifying-glass-drawing-png.png");
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
}

/* top bar containing a circle, title of the website, a quiz button, and a
button for a burger menu */
.search_bar {
  height: 30px;
  width: 180px;
  font-size: 18px;
}

.title_box {
  display: flex;
  height: 10%;
  font-size: 36px;
  flex-direction: row;
  border-bottom: 1px solid black;
  align-items: center;
  color: #254117;
}

#title_logo_box {
  justify-content: center;
  text-align: center;
  width: 5%;
  padding-left: 10px;
}

#title_logo {
  width: 50px;
  height: 50px;
  background-image: url(plant_website_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  text-align: center;
}

#inner_title_box {
  text-align: left;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 65%;
}

#quiz_button_box {
  justify-content: center;
  text-align: center;
  width: 20%;
}

#quiz_button {
  height: 35px;
  width: 70px;
  border: none;
  background-color: lightgrey;
  font-size: 24px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#quiz_button:hover {background-color: grey;}

#hamburger_button_box {
  justify-content: center;
  width: 10%;
}

/* How I Met Your Plant section */
.hymp_box {
  height: 30%;
  flex-direction: row;
}

#hymp_space {
  width: 10%
}

#hymp_text {
  width: 50%;
}

#hymp_picture {
  width: 40%;
  background-image: url("https://images.unsplash.com/photo-1533038590840-1cde6e668a91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
}

/* Contains boxes of plants that can be clicked on to go to its respective
website */
.plant_select_box {
  height: 45%;
}

#plant_boxes {
  display: flex;
  flex-direction: row;


}

.bottom_box {
  height: 20%;
}
