#button_search {
  background-image: url("https://www.nicepng.com/png/detail/104-1044901_magnifying-glass-magnifying-glass-drawing-png.png");
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
}
